<nav class="app-nav" id="app-nav">
  <a active-link href="/blog/#/1" class="item item-logo" data-title="首页" data-tooltip="进入首页">
    <img class="img" src="./img/yakima_bright.jpg" alt="Yakima Teng">
    <span class="line">Yakima Teng</span>
  </a>
  <a ng-repeat="item in menus" active-link class="item item-normal" ng-href="{{item.href}}" data-title="{{item.title}}" data-tooltip="{{item.tip}}">
    <i ng-class="item.fontAwesomeIconClass" class="fa"></i>
    <span class="line">{{item.menu}}</span>
  </a>
  <form class="item-form" ng-submit="search($event)">
    <input ng-model="keyword" type="text" class="field" placeholder="Search..." autocomplete="on" />
    <button class="btn" type="submit">^_^</button>
  </form>
</nav>